NODE_ENV= value can either be 'development' or 'production' or 'test'
PORT=

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_NAME=
TEST_DB_NAME=

REDIS_DB_URL=redis://127.0.0.1:6379
REDIS_JOB_TEST_DB=PaymentTestJobs
REDIS_JOB_DB=PaymentJobs

RABBITMQ_SERVER=amqp://localhost
CUSTOMER_ENQUIRY_QUEUE=customerEnquiry
CUSTOMER_ENQUIRY_RESPONSE_QUEUE=customerEnquiryResponse
BILLING_QUEUE=billing
TANSACTION_APPROVAL_RESPONSE_QUEUE=transactionApprovalResponse

PAPERTRAIL_URL=this can be left blank
PAPERTRAIL_PORT=this can be left blank
PAPERTRAIL_HOSTNAME=this can be left blank