# dependencies
/.pnp
.pnp.js
/husky install/

# testing
/coverage

# production
/build
/dist
/uploads

# misc
.DS_Store

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock


# Custom stuff
tmp/

# Created by .ignore support plugin (hsz.mobi)
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
logs
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.idea
.idea/
geodb/
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
__tests__/out.json/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
!src/**/logs
reports
.sonar_lock
report-task.txt
eslint-report.json
log
